server:
  port: 8080

resilience4j:
  circuitbreaker:
    instances:
      paymentServiceCB:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 2
        automaticTransitionFromOpenToHalfOpenEnabled: true
        registerHealthIndicator: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,circuitbreakers
